.ListContainer {
	padding: 2.5rem;
}
.ListContainer .ListTitle {
	font-size: 1.125rem;
	width: 100%;
}
.ListContainer__content {
	margin-top: 2.5rem;
}
.ListContainer__header {
	display: flex;
	justify-content: space-between;
}
.ListContainer .ListTitle:active,
.ListContainer .ListTitle:hover,
.ListContainer .ListTitle:focus {
	border-bottom: none;
}
.ListContainer .ListTitle .MuiOutlinedInput-notchedOutline {
	border-color: transparent;
	border-bottom: 2px solid black;
}
.ListContainer .ListTitle:active .MuiOutlinedInput-notchedOutline {
	border-color: blue;
}
.ListContainer .MuiList-root {
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	margin-top: 1.25rem;
}
