.MenuContainer {
	height: calc(100% - 80px);
	padding: 40px;
}
.Menu.MuiList-root {
	padding: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.Menu .MenuItem {
	justify-content: center;
}
.Menu .MenuItem * {
	font-size: 24px;
}
.Menu .MenuItem:hover * {
	text-decoration: underline;
}

@media screen and (max-width: 1000px) {
	.MenuContainer {
		height: calc(100% - 40px);
		padding: 20px 20px;
	}
}

@media screen and (max-width: 576px) {
	.MenuContainer {
		height: 100%;
		padding: 0;
	}
	.Menu.MuiList-root {
		gap: 10px;
	}
}
