.TodoListContainer {
	padding: 1.5rem;
	min-height: calc(100% - 2rem);
	background-color: #e0efff;
}
.TodoListContainer .TodoListTitle {
	font-size: 1.125rem;
	width: 100%;
}
.TodoListContainer .TodoListTitle input {
	border: 2px dashed #a9a9ff;
	background: transparent;
	border-radius: 0.5rem;
}
.TodoListContainer .TodoListTitle.Mui-focused input {
	border-style: solid;
	border-color: cornflowerblue;
}
.TodoListContainer__content {
	margin-top: 2.5rem;
}
.TodoListContainer__header {
	display: flex;
	justify-content: space-between;
}
.TodoListContainer__headerSide {
	display: flex;
	gap: 1rem;
}
.TodoListContainer__header .Icon {
	display: none;
}
.TodoListContainer .TodoListTitle:active,
.TodoListContainer .TodoListTitle:hover,
.TodoListContainer .TodoListTitle:focus {
	border-bottom: none;
}
.TodoListContainer .TodoListTitle .MuiOutlinedInput-notchedOutline {
	border-color: transparent;
}
.TodoListContainer .TodoListTitle:active .MuiOutlinedInput-notchedOutline {
	border-color: blue;
}
.TodoListContainer .MuiList-root {
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	margin-top: 1.25rem;
}

.TodoList .TodoListItem {
	background-color: aliceblue;
	border: 1px solid #c7d0ff94;
	border-radius: 0.5rem;
	box-shadow: 5px 4px 20px 0px rgb(105 148 242 / 20%);
	gap: 1rem;
}

.RemovalDialog {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media screen and (max-width: 1000px) {
	.TodoListContainer {
		padding: 1.5rem;
	}
}

@media screen and (max-width: 576px) {
	.TodoListContainer__header .Icon {
		display: flex;
	}
	.TodoListContainer__header .Text {
		display: none;
	}
	.TodoListContainer {
		padding: 1rem;
	}
	.TodoListContainer .TodoListTitle input {
		font-size: 1rem;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}
