.TodoListContainer {
	padding: 2.5rem;
}
.TodoListContainer .TodoListTitle {
	font-size: 1.125rem;
	width: 100%;
}
.TodoListContainer__content {
	margin-top: 2.5rem;
}
.TodoListContainer__header {
	display: flex;
	justify-content: space-between;
}
.TodoListContainer .TodoListTitle:active,
.TodoListContainer .TodoListTitle:hover,
.TodoListContainer .TodoListTitle:focus {
	border-bottom: none;
}
.TodoListContainer .TodoListTitle .MuiOutlinedInput-notchedOutline {
	border-color: transparent;
	border-bottom: 2px solid black;
}
.TodoListContainer .TodoListTitle:active .MuiOutlinedInput-notchedOutline {
	border-color: blue;
}
.TodoListContainer .MuiList-root {
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	margin-top: 1.25rem;
}

@media screen and (max-width: 1000px) {
	.TodoListContainer {
		padding: 1.5rem;
	}
}

@media screen and (max-width: 576px) {
	.TodoListContainer {
		padding: 1rem;
	}
}
