.ListItem.MuiButtonBase-root {
	background-color: white;
	border: 1px dotted transparent;
	min-height: 3.125rem;
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 0.75rem;
}
.ListItem .EditItem__form .EditItem {
	width: 100%;
}
.ListItem .ListItem__actions,
.ListItem .EditItem__side {
	display: flex;
	gap: 0.5rem;
}
.ListItem .ListItem__actions button,
.ListItem .EditItem__side button {
	padding: 0.5rem;
	min-width: auto;
}
.ListItemPopover__actions {
	display: flex;
	justify-content: flex-end;
}
.ListItem.MuiButtonBase-root.isDragging {
	opacity: 0.5;
	border-color: gray;
}
.ListItem .EditItem__form {
	display: flex;
	width: 100%;
	justify-content: space-between;
	gap: 1rem;
}
.ListItem .EditItem__form input {
	padding: 0 0.75rem;
}
