.ListItem.MuiButtonBase-root {
	background-color: white;
	border: 1px dotted transparent;
	height: 3.125rem;
	display: flex;
	justify-content: space-between;
}
.ListItem .ListItem__actions {
	display: flex;
}
.ListItemPopover__actions {
	display: flex;
	justify-content: flex-end;
}
.ListItem.MuiButtonBase-root.isDragging {
	opacity: 0.5;
	border-color: gray;
}
.ListItem .EditItem__form {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.ListItem .EditItem__form input {
	padding: 0 0.75rem;
}
