.MenuContainer {
	height: calc(100% - 80px);
	padding: 3.5rem;
}
.Menu.MuiList-root {
	padding: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}
.Menu .MenuItem {
	justify-content: center;
}
.Menu .MenuItem * {
	font-size: 1.5rem;
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	height: 100%;
}

@media screen and (max-width: 1000px) {
	.MenuContainer {
		height: calc(100% - 2.5rem);
		padding: 1.25rem 1.25rem;
	}
}

@media screen and (max-width: 576px) {
	.MenuContainer {
		height: 100%;
		padding: 0;
	}
	.Menu.MuiList-root {
		gap: 1.125rem;
	}
}
